@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "daisyui";

body {
  font-family: "Noto Sans KR", "sans-serif";
}

.menu {
  top: 112px;
}

.drawer-content {
  max-height: initial !important;
}

.drawer-toggle:checked + .drawer-content {
  max-height: 100vh !important;
}

.js-searchedItem:active span {
  color: white !important;
}
